@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


}

::-webkit-scrollbar {
  width: 0.8rem;
  height: 1rem;
  float: inline-end;
}

::-webkit-scrollbar-track {
  background-color:rgb(17 24 39 / var(--tw-bg-opacity));
  margin-block: 27rem;
  margin-trim: all;
  border-radius: 1rem;
  padding-right: 2rem;
  margin-right: 2rem;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0.5rem;
  border: 0.25rem solid transparent;
  background-clip: content-box;
}

::webkit-scrollbar-thumb:hover {
  background-color: blue;
}
